@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    font-family: 'Sriracha', cursive;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.profile{
    width: 60%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: auto;
    margin-right: auto;
}

.profile .left{
    background: rgba(111, 112, 112, 0.6);
    color: white;
    width: 100%;
}

.profile .left .avatar{
    width: 150px;
    height: 150px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile .left .avatar img{
    width: 100%;
    height:100%;
    border-radius: 100%;
    border: white solid 7px;
}

.profile .left .content{
    padding: 20px;
}

.profile .left .content .title .name{
    font-size: 26px;
    padding-left: 20px;
    font-weight: 550;
}

.profile .left .content .title .job{
    font-size: 20px;
    padding-left: 20px;
}

.profile .left .content .item{
    padding-left: 10px;
}

.profile .left .content .item:not(:last-child){
    margin-bottom: 20px;
    border-bottom: #b1eaff solid 2px;
}

.profile .left .content .item .title{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 550;
}

.profile .left .content .item ul li{
    display: flex;
}

.profile .left .content .item ul li .icon{
    width: 10%;
    margin-right: 5px;
}

.profile .left .content .social ul li{
    font-size: 18px;
}

.profile .left .content .social ul li a,
.profile .left .content .social ul li a:visited{
    color: white;
}

.profile .right{
    box-shadow: 0 8px 32px 0 rgba(14, 14, 15, 0.37);
    border-radius: 0 10px 10px 0;
    padding: 30px;
    font-size: 20px;
	background: rgba(15, 15, 15, 0.2);
}


.profile .right .item:not(:last-child){
    margin-bottom: 20px;
    border-bottom: #e4f3f8 solid 2px;   
}

.profile .right .item .title{
    font-size: 24px;
    color: white;
}

.profile .right .archive ul li{
    margin-left: 20px;
    margin-bottom: 20px;
}

.profile .right {
	color: white;
}

.profile .right .text {
	margin-bottom: 20%;
}

.profile .right .hobby ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile .right .hobby ul li{
    display: flex;
}

.profile .right .hobby ul li .icon{
    color:rgb(88, 86, 86)
}
