*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
th,tr{
    padding: 10px 150px 10px 10px;
    border: 1px solid cornflowerblue;
    text-align: left;
    color:cornflowerblue;
}

div ul li a {
	color: gray;
	font-size: small;
}

.main_left {
    float:left;
    width: 20%;
}
h1 {
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(66, 65, 65);
    height: 40px;
}
nav .trai{
    line-height: 40px;
    padding-left: 20px;
	font-size: small;
    float:left;
}

nav .phai{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    line-height: 40px;
    padding-right: 10px;
}
li{
    color: white;

    display: inline-block;
    /* list-style: none */
    /* text-decoration: none; */
}
li>a{
    color: white;
    text-decoration: none;
padding: 0px 10px;
    list-style: none;

}
.main_right{
    float:right;
    width: 80%;
    padding: 20px 5px;
}
a{
    list-style: none;
    text-decoration: none;
}

.anh{
    padding-right: 20px;
}
.anh1{
    /* padding-right: 20px; */
    background-color: grey;
    height: 600px;
    width: 700px;
}
article .sp{
    padding-right: 10px;
    padding: 5px 0px;

}
article .sp .sp1{
    margin-right: 50px;
    float:left;
    height: 20%;
    width: 25%;
    margin-bottom: 20px;
    border:2px solid #dddddd;
}

.top1{
    background-color: darkgrey;
    text-align: center;
    height: 150px;

}
.top1 h1{
    line-height: 50%;
    font-size: 35px;
    padding: 65px 0px;
}
b{
    color: black;
    text-align: center;
    padding: 0px 10px;
}
h3{
    color:cornflowerblue;
}


.content{
    height: 400px;
    width: 100%;
    position: relative;
}
.contnet .images{
    /* height: 100%;
    width: 100%; */
    border: 1px solid #333;
}
.images .img{
    height: 300px;
    width: 1000px;
}
.content .slide{
    position: absolute;
    top: 50%;
    /* left:20px; */
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid burlywood;
    background: rgba(128, 85, 85, 0.2);
    cursor: pointer;
} 
.content .slide:hover{
    background: rgba(128, 85, 85, 0.5);
}
.slide span{
    font-size: 35px;
    color:cornflowerblue;
    line-height: 35px;

}
.content .right{
    right: 0;
}